:root {
  --color-primary: #1a1c3e;
  --color-primary-light: #454666;
  --color-primary-dark: #12142c;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --color-green: #62c15d;
  --color-red: #d65555;
  --color-white: #fff;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  --line: 1px solid rgba(255, 255, 255, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.6;
  color: var(--color-grey-light-1);
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243b55, #141e30); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243b55, #141e30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /*background-color: var(--color-white);*/
  width: 100%;
  padding: 2rem;
  max-width: 90rem;
  min-height: 100vh;
}

.main-panel {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
}

.summary {
  line-height: 1;
  margin-bottom: 4rem;
}

.summary__month {
  font-size: 1.8rem;
  color: var(--color-grey-light-3);
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}

.summary__budget {
  font-weight: 700;
  font-size: 6.5rem;
  margin-bottom: 1.5rem;
}

.summary__label {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.secondary-panel {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  color: var(--color-green);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 4rem;
}

.secondary-panel__income {
  color: var(--color-green);
  flex: 1;
}

.secondary-panel__expenses {
  color: var(--color-red);
  flex: 1;
}

.secondary-panel__expenses-percentage {
  font-weight: 300;
  font-size: 1.5rem;
}

.secondary-panel__income-label,
.secondary-panel__expenses-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel {
  padding: 2rem;
}

.panel__item {
  display: flex;
  padding: 2rem 1rem;
  align-items: center;
}

.panel__item:not(:last-child) {
  border-bottom: var(--line);
}

.panel__item__details {
  flex: 1;
  line-height: 1;
}

.panel__item__details-name {
  font-size: 2rem;
  font-weight: 500;
}

.panel__item__details-date {
  text-transform: uppercase;
  font-size: 1.4rem;
  opacity: 0.8;
}

.panel__item__value {
  text-align: right;
  transition: all 0.3s;
}

.panel__item__value-number {
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
}

.panel__item__value-percentage {
  font-size: 1.7rem;
  line-height: 1;
  font-weight: 500;
}

.panel__item-income .panel__item__value {
  color: var(--color-green);
}

.panel__item-expense .panel__item__value {
  color: var(--color-red);
}

.icon {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  fill: currentColor;
}

.item__delete--btn {
  color: var(--color-red);
  display: none;
  transition: all 0.3s;
}

.icon-cross {
  margin-left: 5px;
}

.panel__item:hover .item__delete--btn {
  display: flex;
}
.panel__item:hover .panel__item__value {
  transform: translateX(-10px);
}

/*INPUTS*/

.input {
  display: flex;
  align-items: flex-end;
  line-height: 1;
  margin-bottom: 2rem;
}

.input__description {
  flex: 3;
  text-align: left;
}

.input__value {
  flex: 1;
  text-align: left;
}

.input__submit {
}

.input > div:not(:last-child) {
  margin-right: 2rem;
}

button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  line-height: 1;
  display: flex;
}

button svg {
  pointer-events: none;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.input__submit svg {
  fill: currentColor;
  width: 3rem;
  height: 3rem;
  transition: all 0.3s;
}

.red-border {
  border-color: rgba(217, 85, 81, 0.6) !important;
}

.red {
  color: var(--color-red) !important;
}

.add__btn {
  color: var(--color-green);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-grey-light-4);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--color-grey-light-4);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--color-grey-light-4);
}

.form__input {
  font-family: 'Lato', sans-serif;
  width: 100%;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-green);
  transition: all 0.3s;
  border-bottom: 2px solid rgba(98, 193, 93, 0.6);
}

.form__label {
  position: absolute;
  padding: 5px 10px;
  color: var(--color-grey-light-4);
  font-size: 1.4rem;
  display: block;
  margin-top: 3px;
  opacity: 1;
  transform: translateY(0rem);
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display: none;
}

.slider {
  background-color: var(--color-green);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: '';
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--color-red);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 120%;
  }

  .item__delete--btn {
    display: flex !important;
  }

  .panel__item:hover .panel__item__value {
    transform: translateX(0px);
  }
}
